
.body{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.image{
	margin-top: 0px;
	width: 100%;
	text-align: center;
	margin-top : -15px;
}
.stat{
	margin : 5px;
}
.copy-board{
	display: flex;
	flex-direction: column;
	margin: 5px;
}
.copy-row{
	display: flex;
	flex-direction: row;
	margin: 5px;
}

.copy-column{
	display: flex;
	flex-direction: row;
	margin : 2px;
}